.Logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90px;
    background-image: url(./logo.svg);
    background-position: top .5em center;
    background-repeat: no-repeat;


    border: var(--test-border-dotted);
    border-color: blue;
}

@media (min-width: 765px) {
    .Logo {
        background-position: var(--main-padding) center;
        height: 110px;
    }
}